/A11.2022.14473_Reifal Hafizh Satria.docx
/A11_2022_14473_Reifal_Hafizh_Satria-PembelajaranMesin.pdf
/archive.zip
/archive_2.zip
/dataset2.zip
/diabetes.csv
/diabetes.zip
/email.csv
/emails.csv
/mail_data.csv
/tugas 1.docx
/Tugas1-PembelajaranMesin.pdf